// Place all the styles related to the baseball_stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav
{
	margin: 20px;

}
.main_content
{
	width: 1024px; 
	padding: 100px 20px ;
	margin: 0 auto;
	background: #cccccc;
	text-align: center;

}

#main_content
{
	
}
