// Place all the styles related to the baseball_stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main_content
{
	width: 1024px; height:768px;
	margin: 0 auto;
	background: #cccccc;
}

#main_content
{
	
}
